<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DefaultShortcuts" type="System.Configuration.NameValueSectionHandler" />
    <section name="OptionalShortcuts" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="Folder" value="%APPDATA%/AppLauncherDesktop" />
  </appSettings>
  <OptionalShortcuts>
    <add key="Command Prompt" value="cmd.exe" />
  </OptionalShortcuts>
  <DefaultShortcuts>
    <add key="Microsoft Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
    <add key="Map Network Drive" value="C:\Windows\System32\rundll32.exe [/args] Shell32.dll,SHHelpShortcuts_RunDLL Connect" />
  </DefaultShortcuts>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
 </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
